<!DOCTYPE html>
{% load i18n %} <!-- Загружаем теги с переводами, без этой строки ничего не будет работать -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
</head>
<body>
    {{ string }} <!-- Это уже знакомая нам переменная, просто засунули её в шаблон -->
    {% trans "Check out my new cool translation" %}! <!-- Переводим строку -->
</body>
</html>