{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}

{% block content %}

    <style>
         body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 12 %} darkcyan {% else %} powderblue {% endif %};}
    </style>

<form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
    <!-- Не забываем по csrf_token для POST запросов -->
    <input type="hidden" name="next" value="{{ redirect_to }}">

    <select name="language" id="">
        {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
        {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

        {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} - {{ language.code }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="set">
</form>


{% get_current_timezone as TIME_ZONE %}
<form action="" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}" {% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>

{{ TIME_ZONE }} <!-- Отображает выбранный (текущий) часовой пояс  -->
{{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->



{% for model in models %}
<div class="model-class">
    {{ model.name }}
</div>
{% endfor %}


</body>

{% endblock content %}
