<!DOCTYPE html>

<!--для работы функции перевода страницы (чтоб можно было несколько вариантов текстов подключать-->
{% load i18n %}
{% load tz %}

<html lang="en">

{% load cache %} <!-- Загружаем кэширование -->
{% cache 5 header %} <!-- Кэшируем отдельный блок на 30 секунд -->
{% load static %}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title> {% block title %} {% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>


<body>

<!-- Responsive navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">

        <a class="navbar-brand" href="http://127.0.0.1:8000/news/">{% trans "-=NewsPortal CityTomsk=-" %}</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">


                    <!--************************** кнопки на главной страничке *************************************-->
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/news">{% trans "AllNews" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_add' %}">{% trans "AddNews" %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_search' %}">{% trans 'SearchNews' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000">Logout "{{request.user.username}}"</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin">{% trans 'AdminPanel' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/news/index">Index</a>
                </li>


                <!--********************** для выбора языков на главной страничке **********************************-->

                <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
                    <!-- Не забываем по csrf_token для POST запросов -->
                    <input type="hidden" name="next" value="{{ redirect_to }}">

                    <select name="language" id="">
                        {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                        {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                        {% for language in languages %}
                        <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{ language.name_local }} - {{ language.code }}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="set">
                </form>


            </ul>
        </div>
    </div>
</nav>
{% endcache %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">

            <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
            <style>
         body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}

            </style>

            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>
</body>
</html>
